/* GLOBAL */
*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Raleway', Roboto, sans-serif;
	font-size: 18px;
	color: black;
	line-height: 1.6em;
}

/* SHOWCASE */
#showcase {
	font: arial;
	position: relative;
	background-image: url("Hawaii.jpg");/*fetched from http://www.mulierchile.com/assets/download.php?file=/free-hawaii-wallpaper/free-hawaii-wallpaper-012.jpg*/
	background-size: cover;
	width: auto;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	padding: 0 20px;
	
}

#showcase h1{
	font-size: 70px;
	line-height: 1.2em;
	color: white;
	text-shadow: 1px 1px 1px #333;

}

#showcase p{
	color: white;
	font-size: 25px;
	text-shadow: 1px 1px 1px #333;
	
}

#showcase .button{
	text-transform: uppercase;
	background-color: rgba(224, 224, 224, 0.44);
	font: cursive;
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 10px;
	padding: 10px 20px;
	margin-top: 20px;
	text-shadow: 0.5px 0.5px 0.5px #333;

}
/* SECTION */
#sectionA{
	padding: 20px;
	background-color: #d4d0ce;
	color: #fff;
	text-align: center;
}

#sectionB{
	color: #fff;
	background-color: #c7c4c2;
	padding: 20px;
	text-align: center;

}

#sectionC{
	display: flex;

}

#sectionC div{
	padding: 20px;

}

/* FOOTER */
#footer{
	padding: 20px;
	background-color: #b3aea8;
	color: #fff;
	text-align: center;
}

#footer .button{
	text-transform: uppercase;
	font-size: 20px;
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 6px;
}

#footer .button:hover{
	background-color: #31c49e;
	color: #fff;

}